# Python
venv/
.venv/
*.pyc
*.pyo
*.pyd
__pycache__/

# Logs
logs/
*.log

# Data & Models
data/models/*
!data/models/.gitkeep

# DB
db/*
!db/.gitkeep

# Reports
reports/*
!reports/.gitkeep

# Pytest
.pytest_cache/

# IDE
.vscode/
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db

# Streamlit
.streamlit/config.toml

# Secrets
config/credentials.yaml
*.env
